@import url('./animations.css');
@import url('./pages.css');

:root {
  --hover-link-color: rgb(150, 150, 150);
  --sidebar-width: 270px;
  --sidebar-bg: #f1f1f1;
  --sidebar-header-bg: #0077b6;
  --sidebar-text-color: #333;
  --btn-hover-bg: #0096c7;
  --navbar-bg: #ffffff;
  --navbar-shadow: rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

li {
  text-decoration: none;
}
