.previewImg {
  display: block;
  width: auto;
  max-height: 200px;
  margin-bottom: 2px;
}

.previewList {
  max-height: 200px;
  overflow-y: auto;
}

.dropzone {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-width: 2px;
  border-radius: 2px;
  border-color: #eeeeee;
  border-style: dashed;
  background-color: #fafafa;
  color: #bdbdbd;
  outline: none;
  transition: border 0.24s ease-in-out;
  margin-bottom: 10px;

  cursor: pointer;
}
